body {
    background-image: url(https://i.pinimg.com/originals/40/bf/50/40bf5022f099e7030c11e17e50f4b3da.png);
    background-position: center;
    background-attachment: fixed;
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: monospace;
    font-style: italic;
    color: azure;
}
h1{
    font-size: 2rem;
}
p{
    font-size: 1.8rem;
}
div {
    position: relative;
    display: grid;
    place-items: center;
    background-color: antiquewhite;
    width: 450px;
    height: 470px;
    border-right: dotted 1rem black;
    border-left: dotted 1rem  black;
    border-radius: 0 15% 0 15%; 
    left: 72%;
    top: 20rem;

}
div > img{
    border-radius: 20%;
    max-width: 400px;
    max-height: 400px;
}